<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather app</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    {{ turbo() }}
</head>
<body>
    <div class="flex-container">
        <!--   Load a actual weather conditions.      -->
        <div>
            {% include 'load-weather-conditions.html' %}
        </div>
        <!--   Block with min temperature, max temperature and average temperature   -->
        <div>
            {% block content %}{% endblock %}
        </div>
        <!--   Block with graph of forecast weather   -->
        <div>
            <h3>Five-day weather forecast</h3>
            <div id="chart" class="chart"></div>
        </div>
    </div>
</body>
<script type="text/javascript">
            var graphs = {{ graphJSON|safe }};
            Plotly.plot('chart', graphs, {});
</script>
</html>