/* Big Flexible container for trzy small fex-container inside them.
Small containers are:
 - actual weather conditions,
 - plase to showe min temp, max temp and avg temp,
 - forecast weather for five-days  */
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #f0ebd8;
    flex-flow: row wrap;
    }

.flex-container > div{
    background-color: #1d2d44;
    font-family: 'sans-serif';
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    opacity: 0.6;
    border-radius: 5px
}

/* Small flex container to show inside div feels like temperature and wind speed  */
.flex-small-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flex-small-container >div{
    font-family: 'sans-serif';
    color: white;
    flex-basis: auto;
    margin: 5px; /* opszar na zewnatrz elementu */
    padding: 10px; /* odległość od treści na szego elementu do kontenera w którym się końćzy */
    text-align: center;
    display: inline-block;
    font-size: 22px;
    border-radius: 5px
}
