
#weatherForm {
    font-family: 'sans-serig';
    font-size: 24px;
    padding: 20px;
}

#weatherSubmit {
    color: white;
    background-color: #fa8072;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 20px;
}


.flex-container {
    display: flex;
    justify-content: center;
    background-color: #f0ebd8;
    flex-flow: row wrap;
    }

.flex-container > div{
    background-color: #1d2d44;
    font-family: 'sans-serif';
    color: white;
    margin: 10px; /* opszar na zewnatrz elementu */
    padding: 20px; /* odległość od treści na szego elementu do kontenera w którym się końćzy */
    text-align: center;
    display: inline-block;
    font-size: 30px;
    opacity: 0.6;
    border-radius: 5px
}
/*  */
.flex-small-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flex-small-container >div{
    font-family: 'sans-serif';
    color: white;
    flex-basis: auto;
    margin: 5px; /* opszar na zewnatrz elementu */
    padding: 10px; /* odległość od treści na szego elementu do kontenera w którym się końćzy */
    text-align: center;
    display: inline-block;
    font-size: 22px;
    border-radius: 5px
}
